body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('assets/fundo.png') no-repeat center center fixed; /* Adicione aqui o caminho da sua imagem de fundo */
    background-size: cover; /* Isso garante que a imagem cubra todo o fundo */
}

#app {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco semitransparente para o conteúdo */
    padding: 20px; /* Adiciona um espaço interno */
    border-radius: 10px; /* Arredonda os cantos */
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px;
    width: 85%;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#loading img {
    width: 50px;
}

#registerSuccessMessage {
    color: green;
    font-size: 18px;
    margin-top: 10px;
}
