body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('../assets/fundo.jpg') no-repeat center center fixed; /* Imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
}

#app {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3); /* Fundo branco semitransparente */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

button {
    padding: 15px; /* Aumenta o padding para tornar o botão maior */
    width: 85%;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 2s infinite; /* Adiciona o efeito de pulsar */
}

button:hover {
    background-color: #45a049;
}

#loading img {
    width: 50px;
}

#registerSuccessMessage {
    color: green;
    font-size: 18px;
    margin-top: 10px;
}

/* Estilo para embaçamento */
.login-screen, .register-screen {
    backdrop-filter: blur(5px); /* Efeito de embaçamento */
}

/* Efeito de pulsar */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); /* Aumenta o tamanho no meio da animação */
    }
    100% {
        transform: scale(1);
    }
}
