body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('..assets/fundo.png'); /* Substitua pelo seu arquivo de fundo */
    background-size: cover;
}

#app {
    text-align: center;
    backdrop-filter: blur(8px); /* Aplica o efeito de desfoque ao fundo */
    padding: 20px;
    border-radius: 10px; /* Arredonda os cantos do app */
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
}

button {
    padding: 10px;
    width: 85%;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#loading img {
    width: 50px;
}

#registerSuccessMessage {
    color: green;
    font-size: 18px;
    margin-top: 10px;
}
